body {
	margin: 0;
	padding: 0;
	font-family: hydrophilia-iced;
}
h1 { 
	margin-left: 1em;
}
canvas#hotair {
	margin: 0;
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

p.r, p.d {
	margin-left: 1em;
}

p.r { color: red; }
p.d { color: blue; }